---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="fixed top-0 left-0 w-full z-50 bg-gray-800 bg-opacity-60 backdrop-blur-md shadow-lg">
			<div class="container mx-auto px-4 py-4 flex justify-between items-center">
				<!-- Logo -->
				<a href="./" class="text-3xl font-bold text-white">Breakfast Royale</a>
	
				<!-- Nav Links (Visible on Medium and Larger Screens) -->
				<div class="hidden md:flex space-x-8">
					<a href="./" class="text-lg text-gray-300 hover:text-white">Home</a>
					<a href="#about" class="text-lg text-gray-300 hover:text-white">About</a>
					<a href="/breakfast-recipes" class="text-lg text-gray-300 hover:text-white">Recipes</a>
					<a href="#contact" class="text-lg text-gray-300 hover:text-white">Contact</a>
				</div>
	
				<!-- Mobile Menu Button -->
				<button id="menu-btn" class="md:hidden focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
					</svg>
				</button>
			</div>
	
			<!-- Mobile Menu (Hidden by default, toggled on button click) -->
			<div id="mobile-menu" class="hidden md:hidden bg-gray-800 bg-opacity-60 backdrop-blur-md">
				<a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Home</a>
				<a href="#about" class="block py-2 px-4 text-white hover:bg-gray-700">About</a>
				<a href="/breakfast-recipes" class="block py-2 px-4 text-white hover:bg-gray-700">Recipes</a>
				<a href="#contact" class="block py-2 px-4 text-white hover:bg-gray-700">Contact</a>
			</div>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
